agentkit-sdk-python==0.8.1
google-adk==2.2.0
veadk-python[extensions]==1.0.10
litellm==1.83.14
json-repair==0.61.7
tos==2.8.7
volcengine-python-sdk==5.0.43
uvicorn[standard]>=0.38.0
fastapi>=0.141.1
fastmcp>=2.14.7,<3
aiohttp>=3.13.4
requests>=2.32.5
